{% extends 'base.html.twig' %}

{% block title %}Candidat index{% endblock %}

{% block body %}
    <h1>Liste des Candidats</h1>

    <table class="table table-primary">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Note</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidat in candidats %}
            <tr>
                <td>{{ candidat.id }}</td>
                <td>{{ candidat.nom }}</td>
                <td>{{ candidat.prenom }}</td>
                <td>{{ candidat.note }} %</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_candidat_show', {'id': candidat.id}) }}">voir</a>
                    <a class="btn btn-warning" href="{{ path('app_candidat_edit', {'id': candidat.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_candidat_new') }}">creer un nouveau candidat</a>
{% endblock %}
